-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ingenioware_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin@ingenioware.com','admin123','Super Admin','2025-12-01 14:42:03');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buenos_momentos`
--

DROP TABLE IF EXISTS `buenos_momentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buenos_momentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `padre_id` int(11) NOT NULL,
  `nino_id` int(11) NOT NULL,
  `mensaje` text NOT NULL,
  `monedas_regalo` int(11) DEFAULT 0,
  `visto_por_nino` tinyint(1) DEFAULT 0,
  `fecha_envio` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `padre_id` (`padre_id`),
  KEY `nino_id` (`nino_id`),
  CONSTRAINT `buenos_momentos_ibfk_1` FOREIGN KEY (`padre_id`) REFERENCES `padres` (`id`) ON DELETE CASCADE,
  CONSTRAINT `buenos_momentos_ibfk_2` FOREIGN KEY (`nino_id`) REFERENCES `ninos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buenos_momentos`
--

LOCK TABLES `buenos_momentos` WRITE;
/*!40000 ALTER TABLE `buenos_momentos` DISABLE KEYS */;
INSERT INTO `buenos_momentos` VALUES (1,1,1,'Felicidades por guardar tus juguetes ',10,1,'2025-12-17 19:21:31');
/*!40000 ALTER TABLE `buenos_momentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `canciones`
--

DROP TABLE IF EXISTS `canciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `artista` varchar(100) DEFAULT 'Ingenioware',
  `portada_url` text DEFAULT NULL,
  `archivo_url` text NOT NULL,
  `duracion` varchar(10) DEFAULT '3:00',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canciones`
--

LOCK TABLES `canciones` WRITE;
/*!40000 ALTER TABLE `canciones` DISABLE KEYS */;
INSERT INTO `canciones` VALUES (1,'Adios y Volvere','Ingenioware','https://cdn-icons-png.flaticon.com/512/616/616408.png','uploads/1765463215535-Adi├â┬│s y volver├â┬®.mp3','3:00','2025-12-11 14:26:55'),(2,'Prueba','Ingenioware','https://cdn-icons-png.flaticon.com/512/616/616408.png','uploads/1765466934002-Adi├â┬│s y volver├â┬®.mp3','3:00','2025-12-11 15:28:54');
/*!40000 ALTER TABLE `canciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comunidad`
--

DROP TABLE IF EXISTS `comunidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comunidad` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `padre_id` int(11) NOT NULL,
  `autor_nombre` varchar(100) DEFAULT NULL,
  `titulo` varchar(100) DEFAULT NULL,
  `contenido` text DEFAULT NULL,
  `likes` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `padre_id` (`padre_id`),
  CONSTRAINT `comunidad_ibfk_1` FOREIGN KEY (`padre_id`) REFERENCES `padres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comunidad`
--

LOCK TABLES `comunidad` WRITE;
/*!40000 ALTER TABLE `comunidad` DISABLE KEYS */;
INSERT INTO `comunidad` VALUES (1,1,'Equipo Ingenioware','┬íBienvenidos!','Este es un espacio para compartir experiencias de crianza.',0,'2025-12-16 14:30:19');
/*!40000 ALTER TABLE `comunidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuentos`
--

DROP TABLE IF EXISTS `cuentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `sinopsis` text DEFAULT NULL,
  `valor_id` int(11) DEFAULT NULL,
  `portada_url` text DEFAULT NULL,
  `contenido_url` text DEFAULT NULL,
  `edad_minima` int(11) DEFAULT 4,
  PRIMARY KEY (`id`),
  KEY `valor_id` (`valor_id`),
  CONSTRAINT `cuentos_ibfk_1` FOREIGN KEY (`valor_id`) REFERENCES `valores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuentos`
--

LOCK TABLES `cuentos` WRITE;
/*!40000 ALTER TABLE `cuentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diario`
--

DROP TABLE IF EXISTS `diario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nino_id` int(11) NOT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `emocion` varchar(20) DEFAULT NULL,
  `texto` text DEFAULT NULL,
  `alerta_nivel` int(11) DEFAULT 0,
  `visto_por_padre` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `nino_id` (`nino_id`),
  CONSTRAINT `diario_ibfk_1` FOREIGN KEY (`nino_id`) REFERENCES `ninos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diario`
--

LOCK TABLES `diario` WRITE;
/*!40000 ALTER TABLE `diario` DISABLE KEYS */;
INSERT INTO `diario` VALUES (1,1,'2025-12-16 14:27:43','feliz','ikdjdkdkd',0,0),(2,1,'2025-12-17 19:23:14','feliz','',0,0),(3,1,'2026-01-16 16:52:22','feliz','jajajaja ',0,0);
/*!40000 ALTER TABLE `diario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_calendario`
--

DROP TABLE IF EXISTS `eventos_calendario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos_calendario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `padre_id` int(11) NOT NULL,
  `titulo` varchar(100) NOT NULL,
  `fecha_inicio` datetime NOT NULL,
  `fecha_fin` datetime DEFAULT NULL,
  `es_hito_app` tinyint(1) DEFAULT 0,
  `descripcion` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `padre_id` (`padre_id`),
  CONSTRAINT `eventos_calendario_ibfk_1` FOREIGN KEY (`padre_id`) REFERENCES `padres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_calendario`
--

LOCK TABLES `eventos_calendario` WRITE;
/*!40000 ALTER TABLE `eventos_calendario` DISABLE KEYS */;
INSERT INTO `eventos_calendario` VALUES (2,1,'Clases de natancion','2025-12-10 00:00:00','2025-12-11 00:00:00',0,'Creado desde el portal web');
/*!40000 ALTER TABLE `eventos_calendario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

DROP TABLE IF EXISTS `inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nino_id` int(11) NOT NULL,
  `item_id` int(11) NOT NULL,
  `fecha_compra` timestamp NOT NULL DEFAULT current_timestamp(),
  `es_equipado` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `nino_id` (`nino_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `inventario_ibfk_1` FOREIGN KEY (`nino_id`) REFERENCES `ninos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inventario_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items_tienda` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
INSERT INTO `inventario` VALUES (1,1,4,'2025-12-17 19:22:40',0);
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items_tienda`
--

DROP TABLE IF EXISTS `items_tienda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `items_tienda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `tipo` enum('sombrero','lentes','ropa','fondo') NOT NULL,
  `precio` int(11) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `imagen_url` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items_tienda`
--

LOCK TABLES `items_tienda` WRITE;
/*!40000 ALTER TABLE `items_tienda` DISABLE KEYS */;
INSERT INTO `items_tienda` VALUES (1,'Sombrero de Copa','sombrero',5,'┬íMuy elegante!','sombrero.png','2025-12-01 14:42:04'),(2,'Gorra','sombrero',3,'Estilo casual','gorra.png','2025-12-01 14:42:04'),(3,'Lentes de Sol','lentes',4,'┬íQu├® cool!','lentesSol.png','2025-12-01 14:42:04'),(4,'Corbata','ropa',5,'Muy formal','corbata.png','2025-12-01 14:42:04'),(5,'Parque','fondo',10,'Un d├¡a soleado','fondoNaturaleza.png','2025-12-01 14:42:04'),(6,'Fondo 12','fondo',12,'sdf','sd','2025-12-06 22:45:42');
/*!40000 ALTER TABLE `items_tienda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `juegos`
--

DROP TABLE IF EXISTS `juegos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `juegos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `valor_id` int(11) DEFAULT NULL,
  `portada_url` text DEFAULT NULL,
  `configuracion_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`configuracion_json`)),
  PRIMARY KEY (`id`),
  KEY `valor_id` (`valor_id`),
  CONSTRAINT `juegos_ibfk_1` FOREIGN KEY (`valor_id`) REFERENCES `valores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `juegos`
--

LOCK TABLES `juegos` WRITE;
/*!40000 ALTER TABLE `juegos` DISABLE KEYS */;
/*!40000 ALTER TABLE `juegos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medallas`
--

DROP TABLE IF EXISTS `medallas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medallas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nino_id` int(11) NOT NULL,
  `valor_id` int(11) NOT NULL,
  `fecha_ganada` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `nino_id` (`nino_id`),
  KEY `valor_id` (`valor_id`),
  CONSTRAINT `medallas_ibfk_1` FOREIGN KEY (`nino_id`) REFERENCES `ninos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `medallas_ibfk_2` FOREIGN KEY (`valor_id`) REFERENCES `valores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medallas`
--

LOCK TABLES `medallas` WRITE;
/*!40000 ALTER TABLE `medallas` DISABLE KEYS */;
INSERT INTO `medallas` VALUES (1,1,1,'2025-12-17 17:59:42'),(2,1,2,'2025-12-17 17:59:47'),(3,1,3,'2025-12-17 17:59:49'),(4,1,4,'2025-12-17 17:59:54'),(5,1,5,'2025-12-17 18:00:00'),(6,1,6,'2025-12-17 18:00:03');
/*!40000 ALTER TABLE `medallas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ninos`
--

DROP TABLE IF EXISTS `ninos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ninos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `padre_id` int(11) NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `apodo` varchar(50) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `avatar_emoji` varchar(50) DEFAULT '??',
  `monedas` int(11) DEFAULT 0,
  `pin` varchar(4) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `padre_id` (`padre_id`),
  CONSTRAINT `ninos_ibfk_1` FOREIGN KEY (`padre_id`) REFERENCES `padres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ninos`
--

LOCK TABLES `ninos` WRITE;
/*!40000 ALTER TABLE `ninos` DISABLE KEYS */;
INSERT INTO `ninos` VALUES (1,1,'Santiago','Santi','2019-04-07','­ƒªû',350,'1234');
/*!40000 ALTER TABLE `ninos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `padres`
--

DROP TABLE IF EXISTS `padres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `padres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `primer_nombre` varchar(50) NOT NULL,
  `segundo_nombre` varchar(50) DEFAULT NULL,
  `ap_padre` varchar(70) DEFAULT NULL,
  `am_padre` varchar(70) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `pin_seguridad` varchar(4) DEFAULT NULL,
  `suscripcion_tipo` enum('free','premium','familiar') DEFAULT 'free',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estado` enum('activo','bloqueado') DEFAULT 'activo',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `padres`
--

LOCK TABLES `padres` WRITE;
/*!40000 ALTER TABLE `padres` DISABLE KEYS */;
INSERT INTO `padres` VALUES (1,'Adriana','Lorena','Noyola','Mendoza','adri@gmail.com','12345678','1234','free','2025-12-06 22:07:51','activo');
/*!40000 ALTER TABLE `padres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progreso_nino`
--

DROP TABLE IF EXISTS `progreso_nino`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `progreso_nino` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nino_id` int(11) NOT NULL,
  `tipo_contenido` enum('cuento','juego','cancion') NOT NULL,
  `contenido_id` int(11) NOT NULL,
  `fecha_completado` timestamp NOT NULL DEFAULT current_timestamp(),
  `puntuacion` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `nino_id` (`nino_id`),
  CONSTRAINT `progreso_nino_ibfk_1` FOREIGN KEY (`nino_id`) REFERENCES `ninos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progreso_nino`
--

LOCK TABLES `progreso_nino` WRITE;
/*!40000 ALTER TABLE `progreso_nino` DISABLE KEYS */;
/*!40000 ALTER TABLE `progreso_nino` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recursos_padres`
--

DROP TABLE IF EXISTS `recursos_padres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recursos_padres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL,
  `contenido` text NOT NULL,
  `categoria` enum('crianza','valores','app') NOT NULL,
  `imagen_url` text DEFAULT NULL,
  `tiempo_lectura_min` int(11) DEFAULT NULL,
  `creado_por_admin_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `creado_por_admin_id` (`creado_por_admin_id`),
  CONSTRAINT `recursos_padres_ibfk_1` FOREIGN KEY (`creado_por_admin_id`) REFERENCES `admins` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recursos_padres`
--

LOCK TABLES `recursos_padres` WRITE;
/*!40000 ALTER TABLE `recursos_padres` DISABLE KEYS */;
INSERT INTO `recursos_padres` VALUES (1,'C├│mo hablar de emociones','Hablar de emociones con los ni├▒os es fundamental para su desarrollo...','crianza','https://images.pexels.com/photos/3931568/pexels-photo-3931568.jpeg',5,NULL,'2025-12-11 00:28:22');
/*!40000 ALTER TABLE `recursos_padres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripciones`
--

DROP TABLE IF EXISTS `suscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suscripciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `padre_id` int(11) NOT NULL,
  `plan` varchar(20) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `fecha_inicio` timestamp NOT NULL DEFAULT current_timestamp(),
  `fecha_fin` timestamp NULL DEFAULT NULL,
  `metodo_pago` varchar(50) DEFAULT 'tarjeta_simulada',
  `estado` enum('activa','vencida','cancelada') DEFAULT 'activa',
  PRIMARY KEY (`id`),
  KEY `padre_id` (`padre_id`),
  CONSTRAINT `suscripciones_ibfk_1` FOREIGN KEY (`padre_id`) REFERENCES `padres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripciones`
--

LOCK TABLES `suscripciones` WRITE;
/*!40000 ALTER TABLE `suscripciones` DISABLE KEYS */;
INSERT INTO `suscripciones` VALUES (1,1,'premium',199.00,'2025-12-11 00:18:25','2026-01-10 00:18:25','tarjeta_simulada','activa'),(2,1,'free',0.00,'2025-12-11 00:18:40','2026-01-10 00:18:40','tarjeta_simulada','activa');
/*!40000 ALTER TABLE `suscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `valores`
--

DROP TABLE IF EXISTS `valores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `valores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `color_hex` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valores`
--

LOCK TABLES `valores` WRITE;
/*!40000 ALTER TABLE `valores` DISABLE KEYS */;
INSERT INTO `valores` VALUES (1,'Valent├¡a','Enfrentar el miedo','#FFD700'),(2,'Honestidad','Decir la verdad','#4ECDC4'),(3,'Empat├¡a','Entender a los dem├ís','#FF6B6B'),(4,'Responsabilidad','Cumplir deberes','#A06CD5'),(5,'Generosidad','Compartir con otros','#FF8FAB'),(6,'Paciencia','Saber esperar','#95E1D3');
/*!40000 ALTER TABLE `valores` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-21 14:58:24
